<!-- We use row-fluid inside containers to achieve a resizable layout. -->
<!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
<!-- http://stackoverflow.com/a/12270322 -->
<div class="container">
    <div class="row-fluid page-header">
        <div class="span12">
            <h1>Me time <small>because your time is valuable</small></h1>
        </div>
    </div>

    <!-- Beyond this part the marketing copy begins. -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
    <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
    <!-- http://placehold.it -->
    <div class="row-fluid">
        <div class="col-lg-6 copy">
            <h3>Concept</h3>
            <p>
                Go ahead and take some me time. You've deserved it. Or give some "me time" to someone else who deserved it. Or share your me time with one or multiple persons. The sky is the limit.
            </p>
            <h3>Interactivity</h3>
            <p>
                Use our <a href="#">Me Time mobile app</a> to keep track of your hard earned "Me time". Cumulate your me time and treat yourself with larger and better Me Time gifts.
                You can also configure the app to work towards a goal.
            </p>
            <p>
                Use our <a href="#">geographical search feature</a> to find shops/service/possibilities nearby you or look <a href="#">here</a> for a list of free time spending activities!
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Suggestions</h3>
            <p>
                It's something we all lack and want: some time for ourselves. We simply try to aid you in the search for this so called "me time".
                Set a goal and treat yourself with something from our <a href="#/suggestionlist">suggestion list</a>.
            </p>
        </div>
    </div>
</div>