<!-- We use row-fluid inside containers to achieve a resizable layout. -->
<!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
<!-- http://stackoverflow.com/a/12270322 -->
<div class="container jumbotron">
   <div class="row-fluid ">
       <div class="col-lg-6">
            <h1>Me Time</h1>
            <p>Because it's what you deserve</p>
            <br />
            <a class="btn btn-primary btn-large" href="#/about">Learn more</a>
            <a class="btn btn-primary btn-large" href="#/about">Help us out</a>
       </div>
       <!-- Beyond this part the marketing copy begins. -->
       <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
       <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
       <!-- http://placehold.it -->
       <!-- We define a new 'actions' div to contain statistics, order, and share buttons.-->
           <div class="col-lg-5 actions">
               <div class="col-lg-8 timeleft">
                   <div>
                       <span class="nrDays">100</span> days left
                   </div>
               </div>
               <div class="col-lg-10 topBorder">
                   <div>
                       <span class="moneyReceived">$30,00</span>
                       <div class="thermometer progress active">
                            <div class="progress-bar progress-bar-success" style="width: 30%;"></div>
                            <div class="progress-bar progress-bar-warning" style="width: 70%;"></div>
                       </div>
                       <span class="moneyWanted">of $100,00</span>
                   </div>
               </div>
           </div>

    </div>


    <div class="row">
    <div class="col-lg-8 social">
        <div social-buttons></div>
    </div>
    </div>
</div>