<!-- We use row-fluid inside containers to achieve a resizable layout. -->
<!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
<!-- http://stackoverflow.com/a/12270322 -->
<div class="container">
    <div class="row-fluid heading">
        <div class="span12">
            <h1>Shop Owners</h1>
        </div>
    </div>
    <div class="row-fluid subheading">
        <div class="span12">
            <!-- Special typography from Bootstrap for lead paragraph. -->
            <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
            <p class="lead">Enlargen your clientbase and be the first in class</p>
        </div>
    </div>

    <!-- Beyond this part the marketing copy begins. -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
    <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
    <!-- http://placehold.it -->
    <div class="row-fluid section1">
        <div class="span6">
            <p>
                Seize the opportunity to enlargen your client base. Depending on the type of service you offer, this can be both national as international.
                <br />Offer your service(s) here in our suggestion list so people can enjoy your hard work whilst taking some time for themselves.
            </p>
        </div>
        <div class="span6">
            <p>
                "Pricing?" you ask. <a href="#/contact">Contact us </a>and we can talk about pricing. Do note that your <span class="bold">first 100 days are free of charge</span> to give you the chance to evaluate this cooperation.
                If you don't like it, you can always take a step back <span class="bold">without</span> any consequences.
            </p>
        </div>
    </div>
</div>